*{
	margin: 0 !important;
	padding: 0 !important;
	color: #666 !important;
}
.a1 > th{
	background-color: #e2f2ff !important;
}
tbody tr:hover{
	background-color: #e2f2ff !important;
}
a:hover{
color: red !important;
}
tbody tr td{
	vertical-align:middle !important ;
}
.a2{
	border: 1px solid red !important;
	background-color: #eaeaea !important;
	width: 100% !important;
}
.b1{
	color: red !important; 
}
.b2{
	color: #666;
	font-size: 130%;
	text-decoration: none !important;
	float: left !important;
}
.add{
	margin-right: 20px !important;
	/*position: relative !important;*/
	height: 34px !important;
	width: 20% !important;
	float: right;
	border: 1px solid #e5e5e5 !important;
	background: #f0f0f0 !important;
	text-align: center !important;
	line-height: 34px !important;
}
.reduce{
	height: 34px !important;
	width: 20% !important;
	border: 1px solid #e5e5e5 !important;
	background: #f0f0f0 !important;
	text-align: center !important;
	line-height: 34px !important;
	float: left;
    position: relative;
    z-index: 0;
}
.add:hover{
    color: #f50;
    z-index: 3;
    border-color: #f60;
    cursor: pointer;
    border: 1px solid #f50 !important;
    }
.p{
  	width: 31% !important;
  	border-radius: 0px !important;
  	text-align:-moz-center !important;
  	padding: 0 !important;
  }
.fr total{
	float: right !important;
}
.cost{
	float: right;
	margin-right: 6% !important;
	font-size: 130% !important;
	cursor: pointer;
}
.cost1{
	cursor: pointer;
	float: right;
	font-size: 130% !important;
}
